body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-image: url("./aaron-burden-6jYoil2GhVk-unsplash.jpg");
    background-size: 100%;
    position: 0;
    width: 100%;
    background-attachment: fixed;
}

div{
    width: 50%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    height: auto;
    display: flex;
    flex-direction: column;
}

#lession-title {
    background-color: black;
    opacity: 50%;
    border: 0.125rem solid black; 
    border-radius: 1.25rem; 
    font-size: 1.25rem; 
    text-decoration: none;
    margin: 0.625rem 0;
    color: white;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#modal {
    border: 0;
    border-radius: 1.25rem;
    padding: 0;
    font-size: 1.25rem;
    width: 20rem; 
    height: 9.375rem; 
}

#modal-title {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-title p {
    margin: 0 0.625rem;
}

#modal-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

#yes-button {
    width: 50%;
    text-align: center;
    text-decoration: none;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#yes-button-a {
    text-decoration: none;
    color: white;
}

#no-button {
    width: 50%;
    text-align: center;
    cursor: pointer;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
