body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-image: url(/aaron-burden-6jYoil2GhVk-unsplash.jpg);
    background-size: 100%;
    position: 0;
    width: 100%;
    background-attachment: fixed;
}
div{
    width: 50%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* position: fixed; */
}

#content {
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: column;
}

#lession-title {
    background-color: black;
    opacity: 50%;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
    color: white;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}